[Unit]
Description=Model Car Init Container
Before=vllm-server.service

[Container]
Image=/sample-chat-model:c042d185dc
Volume=model-storage.volume:/target:Z
PodmanArgs=--user=0
Exec=sh -c "cp -r /models/* /target/"

[Service]
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target default.target
