[Unit]
Description=Model Car Init Container
Before=vllm-server.service

[Container]
Image=image-registry.openshift-image-registry.svc:5000/sample-chat-model:1fc00321dd
Volume=model-storage.volume:/target:Z
PodmanArgs=--user=0
Exec=sh -c "cp -r /models/* /target/"

[Service]
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target default.target
